<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 ">
        <img
          src="../../assets/images/footer-logo.png"
          class="footer__logo img-fluid"
          alt=""
        />
        <div class="footer__social">
          <img src="../../assets/images/facebook.jpg" alt="facebook" />
          <img src="../../assets/images/instagram.jpg" alt="instagram" />
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <h6 class="footer__head">
          Rainbow Bridge
        </h6>
        <ul class="footer__items">
          <li class="footer__item">
            <a href="#">
              Home
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              Events
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              news
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              newsletter
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              about us
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              contact us
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h6 class="footer__head">
          our communities
        </h6>
        <ul class="footer__items">
          <li class="footer__item">
            <a href="#">
              USA
            </a>
          </li>
          <li class="footer__item">
            <a href="#">
              Canada
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="footer__second">
  <div class="container footer__container">
    <p>Powered by Community Connect</p>
    <p>Contact Us | Terms & Conditions</p>
  </div>
</div>
