<nav class="mainNav" >
<div class="container">
    <div class="mainNav__container">
    <ul class="mainNav__list">
        <li class="mainNav__listItem">
            <a href="#">
                <img  src="../../assets/icons/nav-solution.svg" alt="">
                Sponser cc
            </a>
        
        </li>
        <li class="mainNav__listItem mainNav__listItem2">
            <a href="#">
                <img  src="../../assets/icons/nav-chain.svg" alt="">
                Join Us
            </a>
        
        </li>
        <li class="mainNav__listItem mainNav__listItem3">
            <a href="#">
                <img  src="../../assets/icons/nav-dp.svg" alt="">
                <div class="">
                    <p>Our Community</p>
                    <p>National</p>
                </div>
                <img src="../../assets/icons/nav-arrow.svg" class="mainNav__arrow" alt="">
            </a>
            
        </li>
    </ul>
    <button class="mainNav__btn">
        Login
    </button>
</div>
</div>
</nav>