<section class="hero">
  <div class="container">
    <div class="hero__navbar">
      <a href="#" class="hero__logo">
        <img src="../../assets/images/logo.jpg" class="img-fluid" alt="" />
      </a>
      <ul class="hero__list">
        <li class="hero__listItem">
          <a href="#" class="activeNav">
            Home
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            events
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            news
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            gallary
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            newsletter
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            contact us
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            about us
          </a>
        </li>
        <li class="hero__listItem">
          <a href="#">
            covid 19
          </a>
        </li>
      </ul>
      <button class="hero__navbtn">
        <img src="../../assets/icons/hero-donate.svg" alt="" />
        Donate now
      </button>
    </div>
    <div class="hero__heading">
      <h1>Stronger together</h1>
      <h2>during covid-19 pandemic</h2>
      <button class="hero__cta">
        Login
      </button>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h6 class="about__small">about us</h6>
        <h4 class="about__head">About Community Connect</h4>
        <p class="about__para">
          Community Connect is a complete digital transformation for
          organizations, associations and non-profits to experience fully
          engaged community through cloud based software platform. The platform
          comes with Android and iOS mobile apps fully customizable to meet the
          need of each organization. Community Connect can seamlessly take an
          organization to digital transformation using it proven event
          management portal that only allows to host the events but also allows
          to steer the event on the day of the event.
        </p>
        <button class="about__btn">
          Read More...
        </button>
      </div>
      <div class="col-md-5">
        <div class="about__formContainer">
          <div class="about__formHead">
            <div class="about__formHeadLeft">
              <h6>Total</h6>
              <h6>Donation</h6>
            </div>
            <div class="about__formHeadRight">
              $ 25000
            </div>
          </div>
          <div class="about__formBody">
            <form class="about__form">
              <div class="about__formfieldContainer">
                <label for="fname" class="about__label">Full Name</label>
                <input
                  type="text"
                  name=""
                  class="form-control about__field"
                  sid="fname"
                />
              </div>
              <div class="about__formfieldContainer">
                <label for="fname" class="about__label">Email Address</label>
                <input
                  type="text"
                  name=""
                  class="form-control about__field"
                  id="fname"
                />
              </div>
              <div class="about__formfieldContainer">
                <label for="fname" class="about__label">Select Category</label>
                <select class="form-select form-control" style="height: 44px;">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="about__formfieldContainer">
                <label for="fname" class="about__label">Enter Amount</label>
                <input
                  type="text"
                  name=""
                  class="form-control about__field"
                  id="fname"
                />
              </div>
              <button class="about__formSubmit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="events">
  <div class="container">
    <h2 class="events__head">
      Events
    </h2>

    <h3 class="events__sub">
      Lorem Ipsum Is Simply Dummy Text
    </h3>

    <div class="events__menuContainer">
      <tabset class="events__menu">
        <tab heading="All">
          <div class="events__cardContainer">
            <div class="row">
              <div class="col-md-4 ">
                <div class="events__card">
                  <a href="#">
                    <img
                      src="../../assets/icons/event-share.svg"
                      class="events__cardShare"
                      alt=""
                    />
                  </a>
                  <img
                    src="../../assets/images/event-children.jpg"
                    class="events__cardimg img-fluid"
                    alt=""
                  />
                  <div class="events__cardBody">
                    <div class="events__cardDate">
                      <p>20 Jan 2020</p>
                      <button>Past</button>
                    </div>
                    <h2 class="events__cardBodyhead">Children's Day</h2>
                    <h5 class="events__cardBodySub">
                      Lorem Ipsum Is Simply Dummy Text Of The Printing And
                      Typesetting Industry
                    </h5>
                    <p class="events__halping">
                      Halping
                    </p>
                    <a href="#" class="events__cardLocation">
                      <img src="../../assets/icons/event-location.svg" alt="" />
                      <p>28000 Marina Dr, Tega Cay, SC 29708, USA</p>
                    </a>
                    <div class="events__cardCta">
                      <button>
                        View Detail
                      </button>
                      <p>Free | <span>Online</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="events__card">
                  <a href="#">
                    <img
                      src="../../assets/icons/event-share.svg"
                      class="events__cardShare"
                      alt=""
                    />
                  </a>
                  <img
                    src="../../assets/images/event-children.jpg"
                    class="events__cardimg img-fluid"
                    alt=""
                  />
                  <div class="events__cardBody">
                    <div class="events__cardDate">
                      <p>20 Jan 2020</p>
                      <button>Past</button>
                    </div>
                    <h2 class="events__cardBodyhead">Children's Day</h2>
                    <h5 class="events__cardBodySub">
                      Lorem Ipsum Is Simply Dummy Text Of The Printing And
                      Typesetting Industry
                    </h5>
                    <p class="events__halping">
                      Halping
                    </p>
                    <a href="#" class="events__cardLocation">
                      <img src="../../assets/icons/event-location.svg" alt="" />
                      <p>28000 Marina Dr, Tega Cay, SC 29708, USA</p>
                    </a>
                    <div class="events__cardCta">
                      <button>
                        View Detail
                      </button>
                      <p>Free | <span>Online</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="events__card">
                  <a href="#">
                    <img
                      src="../../assets/icons/event-share.svg"
                      class="events__cardShare"
                      alt=""
                    />
                  </a>
                  <img
                    src="../../assets/images/event-children.jpg"
                    class="events__cardimg img-fluid"
                    alt=""
                  />
                  <div class="events__cardBody">
                    <div class="events__cardDate">
                      <p>20 Jan 2020</p>
                      <button>Past</button>
                    </div>
                    <h2 class="events__cardBodyhead">Children's Day</h2>
                    <h5 class="events__cardBodySub">
                      Lorem Ipsum Is Simply Dummy Text Of The Printing And
                      Typesetting Industry
                    </h5>
                    <p class="events__halping">
                      Halping
                    </p>
                    <a href="#" class="events__cardLocation">
                      <img src="../../assets/icons/event-location.svg" alt="" />
                      <p>28000 Marina Dr, Tega Cay, SC 29708, USA</p>
                    </a>
                    <div class="events__cardCta">
                      <button>
                        View Detail
                      </button>
                      <p>Free | <span>Online</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="UPCOMING">2</tab>
        <tab heading="PAST">3</tab>
        <tab heading="PAST">4</tab>
      </tabset>
    </div>
    <button class="events__cta">View All</button>
  </div>
</section>

<section class="status">
  <div class="container">
    <div class="status__container">
      <div class="row">
        <div class="col-lg-4 m-auto">
          <div class="status__head">
            Lorem Ipsum is simply dummy text of the
          </div>
          <div class="status__cta">
            <button class="status__btn">
              <img src="../../assets/icons/status-sponser.svg" alt="" />
              Sponsor Now
            </button>
            <button class="status__btn">
              <img src="../../assets/icons/status-donate.svg" alt="" />
              Donate Now
            </button>
          </div>
        </div>
        <div class="col-lg-4 m-auto">
          <h2 class="status__numbers">
            88,984
          </h2>
          <p class="status__text">Sponsors</p>
        </div>
        <div class="col-lg-4 m-auto">
          <h2 class="status__numbers">
            88,984
          </h2>
          <p class="status__text">Donations</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallary">
  <div class="container">
    <h2 class="gallary__head">
      gallary
    </h2>
    <h3 class="gallary__sub">
      Lorem Ipsum Is Simply Dummy Text
    </h3>
    <div class="gallary__photos">
      <div class="gallary__photo1"></div>
      <div class="gallary__photo2"></div>
      <div class="gallary__photo3"></div>
      <div class="gallary__photo4"></div>
      <div class="gallary__photo5"></div>
      <div class="gallary__photo6">
        <div class="gallary__photoView">
          <p>
            5000 MORE
          </p>
          <a href="#">
            view all
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponser">
  <div class="container">
    <h2 class="sponser__head">
      Sponsors
    </h2>
    <h3 class="sponser__sub">
      Lorem Ipsum Is Simply Dummy Text
    </h3>
    <div class="sponser__container">
      <h6>Diamond Sponsership</h6>
      <div class="sponser__icons">
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
      </div>
    </div>
    <div class="sponser__container">
      <h6>Platinum Sponsership</h6>
      <div class="sponser__icons">
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
      </div>
    </div>
    <div class="sponser__container">
      <h6>Techrover Sponsership</h6>
      <div class="sponser__icons">
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
        <img src="../../assets/icons/sponser-icon1.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="doner">
  <div class="container">
    <h2 class="doner__head">
      Donners
    </h2>
    <h3 class="doner__sub">
      Lorem Ipsum Is Simply Dummy Text
    </h3>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="doner__card">
          <img
            class="doner__img img-fluid"
            src="../../assets/images/sponser1.jpg"
            alt=""
          />

          <div class="doner__info shadow">
            <h6>Alex Martin</h6>
            <p>$200</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="doner__card">
          <img
            class="doner__img img-fluid"
            src="../../assets/images/sponser2.jpg"
            alt=""
          />

          <div class="doner__info shadow">
            <h6>Cedrick Brown</h6>
            <p>$200</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="doner__card">
          <img
            class="doner__img img-fluid"
            src="../../assets/images/sponser3.jpg"
            alt=""
          />

          <div class="doner__info shadow">
            <h6>Jhon Wick</h6>
            <p>$200</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="doner__card">
          <img
            class="doner__img img-fluid"
            src="../../assets/images/sponser4.jpg"
            alt=""
          />

          <div class="doner__info shadow">
            <h6>Alex Martin</h6>
            <p>$200</p>
          </div>
        </div>
      </div>
    </div>
    <button class="doner__cta">
      View All
    </button>
  </div>
</section>

<section class="news">
  <h5 class="news__head">
    Sign Up newsletter
  </h5>

  <p class="news__sub">
    Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry
  </p>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="news__formContainer">
          <input
            type="text"
            class="news__customForm ml-auto"
            placeholder="Name"
          />
        </div>
        <div class="news__formContainer">
          <input
            type="email"
            class="news__customForm ml-auto"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="news__formContainer">
          <input type="text" class="news__customForm" placeholder="Last Name" />
        </div>
        <div class="news__formContainer">
          <input
            type="email"
            class="news__customForm"
            placeholder="Phone Number"
          />
        </div>
      </div>
    </div>
  </div>

  <button class="news__btn">
    Subscribe
  </button>
</section>

<section class="app">
  <h2>
    Get The App Now
  </h2>
  <div class="app__appstore">
    <a href="#">
      <img src="../../assets/images/home3-download-btn1.png" alt="" />
    </a>
    <a href="#">
      <img src="../../assets/images/home3-download-btn12.png" alt="" />
    </a>
  </div>
</section>
<section class="address">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0 ">
        <img src="../../assets/images/address-map.jpg" style="max-width: 100%; height: 100%; " alt="">
      </div>
      <div class="col-md-6  address__container">
       
          <h5 class="address__head">
            Address
          </h5>
          <p class="address__para">
            The Community Connect , 48824 Romeo Plank Rd, Macomb - 48044,
            Michigan, United States
          </p>
          <h5 class="address__hours">
            open hours
          </h5>
          <div class="address__weekdays">
            <div class="adress__days">
              <h6>Monday-Friday</h6>
            </div>
            <div class="address__time">
              <p>09:30 AM-12:30</p>
              <p>09:30 AM-8:30</p>
            </div>
          </div>
          <div class="address__weekdays">
            <div class="adress__days">
              <h6>Saturday-Sunday</h6>
            </div>
            <div class="address__time">
              <p>09:30 AM-12:30</p>
      
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
